/* Typography */
$font-logo: 'RocknRoll One', sans-serif;
$font-Headings: 'Maven Pro', sans-serif;
$font-stack: 'Poppins', sans-serif;

/* Colors */
$primary-color: #ca8911;
$secondary-color: #827f85;
$base-color: #141414;
$light-color: #fff;
