@import 'config';

.header-page {
  grid-area: header;
  margin: 90px 0px 70px 30px;
  gap: 10px;

  h1 {
    font-family: $font-logo;
    font-size: 50px;
    color: $primary-color;
    opacity: 0.6;
    margin-bottom: 30px;
  }
  p {
    margin: 150px 10px;
    letter-spacing: 9px;
    font-family: $font-Headings;
    color: darken($light-color, 20%);
    font-size: 50px;
    font-weight: 600;
  }
}

/* Desktop screen */
@media screen and (min-width: 1024px) {
  .header-page {
    p {
      margin: 150px 10px;
      letter-spacing: 9px;
      font-family: $font-Headings;
      color: darken($light-color, 20%);
      font-size: 50px;
      font-weight: 600;
    }
  }
}
